.App {
  height: 100vh;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  box-sixing: border-box;
  padding: 0.1em 0.5em 0.1em 0.5em;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  height: auto;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
}
nav ul li,
nav a {
  color: white;
  text-decoration: none;
  list-style: none;
  padding: 0 1em 0 1em;
  transition: linear 250ms;
}

nav a :hover {
  color: rgba(233, 100, 100);
}

nav a :active {
  color: rgba(100, 100, 233);
}

#hamburger {
  display: none;
}

.hamburger {
  height: 0.3em;
  width: 1.5em;
  margin: 0.1em;
  background: white;
  border-radius: 1em;
  transition: ease-in-out 250ms;
}

main {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#left,
#right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

#right img {
  height: 50em;
  object-fit: cover;
  top: 0;
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
    height: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    height: 50em;
  }
}

@media screen and (max-width: 700px) {
  nav {
    height: 2em;
    position: relative;
  }

  nav ul {
    box-sizing: border-box;
    outline: 5px white;
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    position: absolute;
    top: 1.2em;
    right: 0;
    justify-content: space-between;
    align-items: center;
  }

  nav ul li,
  nav a {
    padding: 0.5em 0.5em 0 0;
  }
  nav ul li {
    padding-bottom: 1em;
  }
  #hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
