@import url("https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Lobster&display=swap");

.App {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
nav {
  display: flex;
  box-sizing: border-box;
  padding: 0.1em 0.5em 0.1em 0.5em;
  justify-content: space-between;
  align-items: center;
  background: var(--nav-bg);
  height: auto;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
}
nav ul li,
nav a {
  color: var(--text-light);
  text-decoration: none;
  list-style: none;
  padding: 0 1em 0 1em;
  transition: linear 250ms;
}
#mobile-nav {
  display: none;
}

#desktop-nav {
  display: flex;
}

nav a :hover {
  color: var(--accent-secondary);
}

nav a :active {
  color: var(--hover-primary);
}

.MobileNav {
  display: none;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hamburger {
  height: 0.3em;
  width: 1.5em;
  margin: 0.1em;
  background: var(--text-light);
  border-radius: 1em;
  transition: ease-in-out 250ms;
}

#intro {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#left,
#right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#left {
  flex-direction: column;
  text-align: center;
  margin: 0 2.5em;
}

#right img {
  height: 50em;
  object-fit: cover;
  top: 0;
  animation: slideIn 1s ease-in-out;
}

/* @keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
    height: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    height: 50em;
  }
} */

.typing-effect .cursor {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
  height: 1em;
  width: 2px;
  background-color: var(--accent-primary);
  animation: blink 0.7s steps(2, start) infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#name {
  font-family: Lobster, sans-serif;
  font-size: 3em;
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 0.5em;
}

#changingtext {
  font-family: "Bitcount Prop Single", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  color: var(--text-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

#iam {
  padding-right: 0.5em;
}

#footer {
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 0.5em;
  background-color: var(--nav-bg);
  color: var(--text-light);
}

.entry-animate {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.entry-animate.in-view {
  opacity: 1;
  transform: translateY(0);
}

.projectsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 100%;
  background-color: var(--secondary-bg);
  font-size: 1.4em;
}

.entry-animate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.projectContainer img {
  width: 100%;
  height: 40em;
  border-radius: 10px;
}

#about {
  font-size: 1.4em;
  line-height: 1.5;
  color: var(--text-primary);
  margin-top: 1em;
  text-align: justify;
  background-color: var(--secondary-bg);
  padding: 1em;
  border-radius: 0 22px 24px 22px;
}

.toolscontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5em;
  margin-bottom: 2em;
}

.tools {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25vw;
  height: 10em;
  padding: 2em;
  border-radius: 10px;
  outline: 2px solid var(--border-color);
}

.tools-icon {
  position: absolute;
}

.tools-text {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.3em;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 1000;
  transform: translateY(50%);
  opacity: 0;
  overflow: hidden;
  border-radius: 10px;
  visibility: hidden;
  transition: display 0.1s ease, background-color 0.5s ease,
    opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.tools:hover > .tools-text {
  visibility: visible;
  opacity: 1;
  background-color: var(--secondary-bg);
  transform: translateY(0);
}

.divider {
  width: 90%;
  height: 2px;
  background-color: var(--divider-color);
  margin: 0 2em;
}

#certifications {
  font-size: 2em;
  font-weight: 700;
  color: var(--text-primary);
  margin: 2em 0;
  border-radius: 30px;
  padding: 0.3em;
  text-align: center;
  border: 2px dashed var(--accent-primary);
  background-color: var(--secondary-bg);
}

.lilHeader {
  padding: 0.2em;
  text-align: center;
  border-bottom: 2px dashed var(--accent-primary);
}

#certscontainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.certs {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 2em;
  margin: 1em 0;
  border-radius: 10px;
  outline: 2px solid var(--border-color);
}

.certs img,
.tools img {
  width: 100px;
}

.certtext a {
  color: var(--text-primary);
  text-decoration: none;
  border: 2px dashed var(--accent-primary);
  padding: 0.1em;
  width: 5em;
  border-radius: 10px;
}
.certtext a:hover {
  color: var(--accent-secondary);
  border: 2px solid var(--accent-primary);
}

.certtext {
  position: absolute;
  box-sizing: border-box;
  text-align: center;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg);
  height: 100%;
  width: 100%;
  border-radius: 10px;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
  transform: translateY(50%);
  z-index: 1000;
  transition: visibility 0.1s ease, opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

.certs:hover > .certtext {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.contact-page {
  min-height: 90vh;
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-page section {
  width: 50%;
  height: 100%;
  margin: 0 1em;
  padding: 1em;
}
.contact-form {
  background-color: var(--secondary-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-top: 3em;
}
.contact-form form div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-form form > label {
  font-size: 1em;
  font-weight: 500;
  color: var(--text-primary);
  margin-bottom: 0.5em 0;
  align-self: flex-start;
}

.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.5em;
  margin: 0.2em 0;
  border: 1px solid var(--border-color);
  background-color: var(--primary-bg);
  border-radius: 5px;
  color: var(--text-primary);
  font-size: 1em;
}
.contact-form form textarea {
  height: 10em;
}

.contact-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#lets-connect {
  font-size: 1em;
  font-weight: 700;
  color: var(--text-primary);
  padding: 0.3em;
  border: 2px dashed var(--accent-primary);
  border-radius: 10px;
  transition: background-color 0.5s ease, border 0.5s ease;
}
#lets-connect:hover {
  background-color: var(--secondary-bg);
  border: 2px solid var(--accent-primary);
}
.social img {
  width: 4em;
  height: 4em;
  border-radius: 100%;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-50%);
  transition: visibility 0.1s ease-in-out, opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}
.contact-intro-social:hover > .social {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.contact-intro-social:hover > #lets-connect {
  background-color: var(--secondary-bg);
  border: 2px solid var(--accent-primary);
}

#submit-btn {
  width: 100%;
  padding: 0.5em;
  margin-top: 1em;
  background-color: var(--accent-primary);
  border: 2px solid var(--accent-primary);
  border-radius: 5px;
  color: var(--text-light);
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.5s ease, border 0.5s ease;
}

#submit-btn:hover {
  background-color: var(--hover-primary);
  border: 2px solid var(--hover-primary);
}

@media screen and (max-width: 700px) {
  nav {
    height: 2em;
    position: relative;
  }

  nav ul {
    box-sizing: border-box;
    outline: 5px var(--text-light);
    background: var(--accent-primary);
    flex-direction: column;
    position: absolute;
    top: 1.2em;
    right: 0;
    justify-content: space-between;
    align-items: center;
  }

  #desktop-nav {
    display: none;
  }

  nav ul li,
  nav a {
    padding: 0.5em 0.5em 0 0;
  }
  nav ul li {
    padding-bottom: 1em;
    transition: linear 250ms;
  }

  .MobileNav {
    display: flex;
  }
  .hamburger {
    display: flex;
  }

  #hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #intro {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #right {
    height: 20em;
    border-radius: 100px;
  }
  #right img {
    height: 20em;
    width: 20em;
    object-fit: cover;
    top: 0;
    animation: slideIn 1s ease-in-out;
    border-radius: 80%;
  }
  #left {
    width: 90%;
    text-align: center;
    padding: 0 1em;
    height: auto;
    margin: 0 0.5em;
  }
  #changingtext {
    font-size: 1.2em;
    text-align: left;
  }
  .projectsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
  .projectContainer img {
    width: 100%;
    height: 10em;
    border-radius: 10px;
  }
  #about {
    font-size: 0.8em;
    line-height: 1.5;
    color: var(--text-primary);
    margin-top: 1em;
    text-align: justify;
    background-color: var(--secondary-bg);
    padding: 1em;
    border-radius: 0 22px 24px 22px;
  }

  nav li:hover {
    color: var(--accent-secondary);
  }

  .toolscontainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(180px, 1fr));
    gap: 1em;
    justify-items: center;
    align-items: center;
    margin-bottom: 2em;
  }

  #certifications {
    font-size: 1.5em;
    font-weight: 500;
  }

  .contact-page {
    flex-direction: column;
    align-items: center;
  }

  .contact-page section {
    width: 100%;
    margin: 0.5em;
  }
  .contact-form form {
    width: 90%;
  }
  .social img {
    width: 2em;
    height: 2em;
    border-radius: 100%;
  }
}
