.App {
  width: 100vw;
  height: 100vh;
}
nav {
  box-sixing: border-box;
  padding: 0.1em 0.5em 0.1em 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  height: auto;
  width: 100%;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
}
nav ul li,
nav a {
  color: white;
  text-decoration: none;
  list-style: none;
  padding: 0 1em 0 1em;
  transition: linear 200ms;
}

nav a :hover {
  color: rgba(233, 100, 100);
}

nav a :active {
  color: rgba(100, 100, 233);
}
